@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruwudu:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

a {
  text-decoration: none;
}


.home-page {
  
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

/*Navbar*/




.navbar-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: white;
  cursor: pointer;
}


.navbar-icon-bag {
  position: fixed;
  top: 20px;
  right: 50px;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.bag-badge {
  color: red;
  
}

.navbar-logo img {
  width: 100px;
}


.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.8s ease-in-out;
  transform: translateX(-100%);
  
  
}

.navbar-menu ul {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 400px 00;
  flex-direction: column;
}

.navbar-menu ul a {
  font-size: 2rem;
  text-transform: uppercase;
  transition: transform 0.3s ease-in;
  color: white;
}

.navbar-menu ul a:hover {
  color: rgb(38, 122, 38);
}

.navbar-menu.open {
  transform: translateX(0);
}

.navbar-menu.closed {
  transform: translateX(-100%);
}



/*Landing Page*/
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-page-content {
  position: relative;
  z-index: 1;
}

/*about-page*/
.about-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(./assets/playdead\ bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  text-align: center;
  color: white;
  padding: 0 12px;
}

.content h1 {
  font-size: 45px;
}

.content span {
  line-height: 25px;
}



.about-us-content h1 {
  font-size: 60px;
}

.about-us-content span {
  line-height: 28px;

}

/* shop-page */

.shop-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(./assets/playdead\ bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.shopping-list {
  width: 80%;
  margin: 80px auto;
}

.shopping-list-title{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 8px;
}

.shopping-list-items {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  row-gap: 20px;
  column-gap: 1.33%;
}

.shopping-list-items li {
  transition: 0.6s ease-out;
}

.shopping-list-items li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.product-img {
  width: 300px;
}


.product-t {
  color: white;
  text-align: center;
}

.product-p {
  color: white;
  text-align: center;
}

.details {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.image-container img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}


/* Item details */
.item-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(./assets/playdead\ bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; 

}

.item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.item-details-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.p-t {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

.p-p {
  color: whitesmoke;
  font-size: 25px;
  text-align: center;
}


.p-d {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.size-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sizes, .size {
  color: white;
  text-align: center;
}

.size span {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 12px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.size-button.selected {
  border-radius: 12px;
  background-color: rgb(38, 122, 38);
  border: 1px solid rgb(38, 122, 38);
}

.img-magnifier-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}













/* contact-page */ 

.contact-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(./assets/playdead\ bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}




.contact-from-head {
  color: white;
}

@media only screen and (max-width:844px){

  .about-us-header h2 {
    font-size: 2rem;
  }
  .about-us-content .text {
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    padding: 0 12px;
  }

  .shopping-list-items {
    display: flex;
    flex-wrap: wrap;
  }



  .item-actions-container {
    display: flex;
    flex-direction: column;
  }

  .item-details {
    display: flex;
    flex-wrap: wrap;
  }

  .item-details img {
    width: 100%;
  }
}